@font-face{
	font-family: ProximaNovaRegular;
	src: url(../fonts/ProximaNova-Regular.woff);
}
@font-face{
	font-family: AvenirNextCyr;
	src: url(../fonts/AvenirNextCyr-Medium.woff);
}
@font-face{
	font-family: AvenirNextCyrRegular;
	src: url(../fonts/AvenirNextCyr-Regular.woff);
}
@font-face{
	font-family: AvenirNextCyrBold;
	src: url(../fonts/AvenirNextCyr-Bold.woff);
}
@font-face{
	font-family: AvenirNextCyrDemi;
	src: url(../fonts/AvenirNextCyr-Demi.woff);
}
@font-face{
	font-family: Myriad;
	src: url(../fonts/Myriad.ttf);
}
.container {
    max-width: 1440px;
}
body{
	font-family: AvenirNextCyrRegular;
	font-size: 15px;
}

/* HOME PAGE */
/* header section */
header{
	position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-dark .navbar-nav .nav-link {
	font-size: 18px;
	font-family: AvenirNextCyrRegular;
	color: #ffffff;
	padding-left: 0;
	padding-right: 0;
}

.navbar{
padding: 31px 0;
}
.navbar-nav {
	width: 100%;
	justify-content: space-between;
}
.email, .phone, .mobile__version, .sight, .search, .language{
	display: inline-block;
}
.email a, .phone a, .mobile__version a, .search a, .language a, .map a, .developer a{
	text-decoration: none;
	color: #ffffff;
}
.email .email__icon, .phone .phone__icon, .mobile__version .mobile__icon, .search .search__icon, .language .language__icon{
	width: 15px;
}
.sight .sight__icon{
	width: 20px;
}
.bottom__left, .bottom__right{
	width: 35%;
	padding-top: 45px;
}
.bottom__left{
	justify-content: flex-start;
}
.bottom__right{
	justify-content: flex-end;
}
/* !header section */

/* header-wrapper */
.header-wrapper{
    background-image: url('../images/back1.png');
    background-size: cover;
	background-position: center center;
	position: relative;
	z-index: -2;
}
.header-wrapper__main{
	width: 50%;
	margin: auto;
	position: relative;
	z-index: -1;
}
.header-wrapper__main h1{
	font-size: 50px;
	font-family: AvenirNextCyrDemi;
	color: #ffffff;
}
.header-wrapper .back{
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	opacity: 0.749;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
.soc__1>div{
	margin-right: 50px;
}
.soc__1>div:last-child{
	margin-right: 0px;
}
.soc__2>div{
	margin-left: 50px;
}
.soc__2>div:nth-child(1){
	margin-left: 0px;
}

/* !header-wrapper */

/* news section */
.news-home{
    background-image: url('../images/back2.png');
    background-size: cover;
	background-position: center center;
	position: relative;
	z-index: -2;
}
.news-home .back{
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	opacity: 0.749;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
/* !news section */

/* services section */
.services-home{
    background-image: url('../images/back3.png');
    background-size: cover;
	background-position: center center;
	position: relative;
	z-index: -2;
}
.services-home .back{
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	opacity: 0.749;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
  .services-row{
	  -ms-flex: 0 0 76%;
    flex: 0 0 76%;
	max-width: 76%;
	position: relative;
	width: 100%;
	padding: 0 7.5px;
  }
  .services-col {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
	max-width: 25%;
	position: relative;
    width: 100%;
    padding-right: 7.5px;
	padding-left: 7.5px;
	margin-bottom: 15px;
	height: 250px;
	box-shadow: 0px 3px 12px 0px rgba(93, 93, 93, 0.15);
}
.services-col .services__item{
	height: 250px;
	background-color: #ffffff;
	color: black;
	border-radius: 4px;
}
.services-col .services__item  img{
	width: 75px;
}
.services-col .services__item .item__title{
	font-size: 24px;
	font-family: AvenirNextCyrDemi;
}
.services-col .services__item .item__info{}

/* b */
.services-bad-col {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
	max-width: 24%;
	position: relative;
    width: 100%;
    padding-right: 7.5px;
	margin-bottom: 15px;
}
.services-bad-col .services__item{
	height: 515px;
	background-color: #ffffff;
	color: black;
	border-radius: 5px;
	box-shadow: 0px 3px 12px 0px rgba(93, 93, 93, 0.15);
}
.services-bad-col .services__item  img{
	
}
.services-bad-col .services__item .item__info{
	min-height: 185px;
	padding: 0 30px;
}
.services-bad-col .services__item .item__info h3{
	font-size: 24px;
	font-family: AvenirNextCyrDemi;
	color: #003e7b;
}

/* b */




/* !services section */

/* management section */
.management-home{
    background-image: url('../images/back4.png');
    background-size: cover;
	background-position: center center;
	position: relative;
	z-index: -2;
}
.management-home .back{
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	opacity: 0.749;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
/* !management section */

/* staff section */
.staff-home{
    background-image: url('../images/back5.png');
    background-size: cover;
	background-position: center center;
	position: relative;
	z-index: -2;
}
.staff-home .back{
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	opacity: 0.749;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
/* !staff section */

/* videos section */
.videos-home{
    background-image: url('../images/back6.png');
    background-size: cover;
	background-position: center center;
	position: relative;
	z-index: -2;
}
.videos-home .body .row{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.videos-home .body .row .col-md-6{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.videos-home .back{
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	opacity: 0.749;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
  .video-1{
	  padding: 10px;
	  background-color: #ffffff;
	  border-radius: 4px;
  }
  .video-1 .card{
	  height: 430px;
	  border: none;
	  border-radius: 4px;
  }
  .video-1 .card .player__icon{
	  position: absolute;
	  top: 0%;
	  left: 47%;
	  width: 50px;
  }
  .video-1 .card .card-body{    
		position: absolute;
		bottom: 5px;
		padding: 35px 30px;
		color: white;
}
  .video-1 .card a img{
	  height: 430px;
	  border-radius: 4px;
  }
  .video-1 .card a .img__overlay{
	  border-radius: 4px;
	  position: absolute;
	  top: 0;
	  right: 0;
	  left: 0;
	  bottom: 0;
	  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,transparent 40%,rgba(0,0,0,0.9) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,transparent 40%,rgba(0,0,0,0.9) 100% 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,transparent 40%,rgba(0,0,0,0.9) 100%);
  }
  .video-1 .card .card-body .video__stat{
	  font-size: 15px;
	  width: 40%;
  }
  .video-1 .card .card-body .video__stat img{
	  width: 15px;
	  height: 100%;
	  margin-right: 5px;
	  transform: translateY(-2px);
  }
  .video-1 .card .card-body .video__title{
	  font-size: 22px;
	  font-family: AvenirNextCyrDemi;
  }
  .video-2{
	padding: 30px;
	background-color: #ffffff;
	height: 450px;
	border-radius: 4px;
  }
  .video-2 .video__item{
	color: #000;
	border-radius: 4px;
	height: 110px;
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
  }
  .video-2 .video__item .item__img{
  	flex: 0 0 25%;
  	padding-left: 15px;
	padding-right: 15px;
	position: relative;
    width: 100%;
    max-width: 25%;
  }
  .video-2 .video__item .item__content{
  	flex: 0 0 75%;
  	padding-left: 15px;
	padding-right: 15px;
	position: relative;
    width: 100%;
    max-width: 75%;
  }
  .video-2 .video__item .item__img{
	display: inline-block;
  }
  .video-2 .video__item .item__img>a{
	  position: relative;
  }
  .video-2 .video__item .player__icon{
	  position: absolute;
	  width: 30px;
	  left: 40%;
	  top: 0;
  }
  .video-2 .video__item .item__img img{
		max-width: 100%;
	}
	.video-2 .video__item .item__content{
		display: inline-block;
		margin-top: 5px
	}
	.video-2 .video__item .item__content .video__stat{
		margin-bottom: 12px;
		font-size: 15px;
		font-family: AvenirNextCyrRegular;
		color: #003e7b;
	}
	.video-2 .video__item .item__content .video__date img, .video-2 .video__item .item__content .video__seen img, 	.video-2 .video__item .item__content .video__remote img{
		width: 15px;
		margin-right: 5px;
		transform: translateY(-2px);		
	}
	.video-2 .video__item .item__content .video__title{
		font-size: 17px;
		font-family: AvenirNextCyrDemi;
	}
	.all-direction a{
		font-size: 22px;
		font-family: AvenirNextCyr;
		color: #ffffff;
	}
/* !videos section */

/* ulinks section */
.ulinks-home{
    background-image: url('../images/back7.png');
    background-size: cover;
	background-position: center center;
	position: relative;
	z-index: -2;
}
.ulinks-home .back{
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	opacity: 0.749;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
/* !ulinks section */
/* footer section */
footer{
    background-image: url('../images/back8.png');
    background-size: cover;
	background-position: center center;
	position: relative;
	z-index: -2;
	height: 300px;
}
footer .back{
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.94902) 100%);
	opacity: 0.749;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
  .footer__main{
	  height: 300px;
	  padding-top: 45px;
	  font-size: 16px;
	  color: #ffffff;
	}
	.footer__main .c-1 .info{
		padding-top: 10px;
	}
	
  .footer__main .c-1 .info img{
	  width: 60px;
  }
  .footer__main .c-1 .info h6{
	  padding-left: 15px;
	  margin-bottom: 0;
  }
  .footer__main .c-1 .info h6,  .footer__main .c-1 .info img {
	  font-size: 18px;
	  font-family: ProximaNovaRegular,serif;
  }
  .footer__main .c-1 .error, .footer__main .c-1 .privacy{
  }
 
  .footer__main .c-2{
	  width: 46%;
	  margin: auto;
  }
  .footer__main .c-2 h3,  .footer__main .c-3 h3{
	  font-family: AvenirNextCyrDemi;
	  font-size: 20px;
  }
  .footer__main .c-2 .map,  .footer__main .c-2 .email,   .footer__main .c-2 .phone{
  }
  .footer__main .c-2 .map img,   .footer__main .c-2 .email img,  .footer__main .c-2 .phone img {
	 width: 18px; 
	 margin-right: 10px;
  }
  .footer__main .c-3 h3{
	  margin-bottom: 0;
  }
  .footer__main .c-3{
	width: 76%;
  }
  .footer__main .c-3 .c-3__main{
	  padding-left: 25px;
  }
  .footer__main .c-3 .form form input::placeholder{
	  color: #ffffff;
  }
  .footer__main .c-3 .form form input:focus{
	  outline: none;
	  color: #ffffff;
  }
  .footer__main .c-3 .form form input{
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #ffffff;
		margin-bottom: 20px;
		caret-color: #ffffff;
  }
  .footer__main .c-3 .form form button{
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	line-height: 32px;
	color: #003e7b;
	border: none;
  }
  .footer__main .c-4{
	  height: 100%;
	  padding-bottom: ;
  }
  .footer__main .c-1,   .footer__main .c-2,  .footer__main .c-3,  .footer__main .c-4{
	height: 200px;
}  
/* !footer section */
/*END_HOME PAGE  */
/* Abdumalik */
.a-content{
	position: relative;
	  height: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  padding: 6% 0;
  }
  .a-content .heading-inner{
	text-align: center;
	font-family: AvenirNextCyrBold;
	color: white;
  }
  .a-content .heading-inner img{
	margin-bottom: 10px;
  }
/* Abdumalik */

/*==========news===================*/


.news-home .item{
	height: 414px;
	position: relative;
	border-radius: 4px;
}
.news-home .item .overlay{
	position: absolute;
	height: 100%;
	width: 100%;

	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,transparent 40%,rgba(0,0,0,0.9) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,transparent 40%,rgba(0,0,0,0.9) 100% 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,transparent 40%,rgba(0,0,0,0.9) 100%);
}
.news-home .item-info{
	position: absolute;
    bottom: 0;
    max-width: 440px;
    padding: 35px;
}
.news-home button{
	outline: none !important;
}
.news-home .owl-nav{
	display: flex;
    margin-top: 40px;
    justify-content: center;
    position: relative;
    
}
.news-home .owl-nav button{
	z-index: 3;
}
.news-home .owl-nav button img{
	z-index: 1;
}
.news-home .owl-nav button:nth-child(1){
	margin-right:175px;

}
.news-home .owl-dots{
	display: flex;
    justify-content: center;
    position: relative;
    top: -16px;
}
.news-home .owl-dots button span{
	height: 10px;
    widh: 10px;
    width: 10px;
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 5px;
}
.news-home .owl-dots button.active span{
	background-color: white;
}
.date-count img{
	width: 15px !important;
	height: 15px !important;
	display: inline-block !important;
	margin-right: 7px;
}
.date-count span:nth-child(2){
	margin-left: 50px;
}
.news-home .item-info a{
  font-size: 16px;
  font-family: AvenirNextCyr;
  color: white;
  text-decoration: underline;
  

}
.news-home .social{
	height: 200px;
	background-color: #ffffff;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.news-home .social:hover{
	background-color:#003e7b;
	cursor: pointer;
	color: white; 
}
.news-home .facebook{
	color:#003e7b;
}
.news-home .facebook .s-info span:nth-child(3):before{
	content: ' ';
	display: inline-block;      
	height: 5px;
	width: 5px;
	background-color:#003e7b;
	position: relative;
	top: -2px;
	border-radius: 50%;
	margin-right: 5px;
}

.news-home .instagram{
	color:#e75989;
}

.news-home .instagram .s-info span:nth-child(3):before{
	content: ' ';
	display: inline-block;      
	height: 5px;
	width: 5px;
	background-color:#e75989;
	position: relative;
	top: -2px;
	border-radius: 50%;
	margin-right: 5px;
}
.news-home .twitter{
	color:#1da1f2;
}
.news-home .twitter .s-info span:nth-child(3):before{
	content: ' ';
	display: inline-block;      
	height: 5px;
	width: 5px;
	background-color:#1da1f2;
	position: relative;
	top: -2px;
	border-radius: 50%;
	margin-right: 5px;
}
.news-home .telegram{
	color:#0088cc;
}
.news-home .telegram .s-info span:nth-child(3):before{
	content: ' ';
	display: inline-block;      
	height: 5px;
	width: 5px;
	background-color:#0088cc;
	position: relative;
	top: -2px;
	border-radius: 50%;
	margin-right: 5px;
}
.news-home .social .s-info img{
	height: 50px;
	width: 50px;
}
.news-home .social span{
	display: block;
	text-align: center;
}
.news-home img.back-card{
	position: absolute;
    left: 10px;
    top: 10px;
}
.news-cards .col-md-6{
	margin-bottom: 15px;
}
.news-home .row{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.news-home .col-md-6{
	margin-left: -7.5px;
	margin-right: -7.5px
}
.news-home .item-info{

  font-size: 20px;
  font-family: "AvenirNextCyr";
  color: #fff;
}
.news-home .item-info{
  font-size: 15px;
  font-family: "AvenirNextCyr";
  color:#fff;
}
.s-info>span:nth-child(2){
	
  margin-top: 25px;

}
/*news end*/
/*staff*/
.staff-home .staff-slider .item {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 20px 0px rgba(26, 26, 26, 0.15);
  padding: 40px	;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 424px;
	
}
.staff-home .staff-img{
	width: 57%;
	max-height: 160px;
	border-radius: 50%;
    overflow: hidden;
}
.staff-home .staff-img img{
	
}
.staff-home .staff-name{
	max-width: 175px;
	font-size: 20px;
	font-family: "AvenirNextCyr";
	color: rgb(0, 62, 123);
}
.staff-home .owl-nav{
	position: absolute;
    top: 45%;
    width: 115%;
    left: -7.5%;
    display: flex;
    justify-content: space-between;
}
.staff-home button{
	outline: none !important;
}
.staff-occupation{
  font-size: 16px;
  font-family: "AvenirNextCyr";
  color: rgb(44, 40, 40);
}
/*staff end*/
/*ulinks*/
.ulinks-home .ulinks-slider .item {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 20px 0px rgba(26, 26, 26, 0.15);
  padding: 40px	;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 270px;
	
}
.ulinks-home .ulinks-img{
	
	border-radius: 50%;
    overflow: hidden;
}
.ulinks-home .ulinks-img img{
	max-width: 100%;
}
.ulinks-home .ulinks-name{
	max-width: 160px;
}
.ulinks-home .owl-nav{
	position: absolute;
    top: 45%;
    width: 115%;
    left: -7.5%;
    display: flex;
    justify-content: space-between;
}
.ulinks-home button{
	outline: none !important;
}
/*end links*/

/*international*/
.international{
	background-color: white;
	padding: 30px 50px;
}
.international .col-md-4{
	padding-right: 37.5px;
}
.international .col-md-8{
	padding-left: 37.5px;
}
.international .inter-active .item{
	max-height: 400px;
	border-radius: 4px;
    overflow: hidden;
}
.international .inter-active .item img{
	height: 400px;
}
.international .inter-items-slider{
	position: relative;
    top: -80px;
}
.international .inter-text-slider{
	position: relative;
    top: -45px;
}
.international .inter-items-slider .item{
	height: 250px;
	border-radius: 4px;
    overflow: hidden;

}
.international .inter-controller-slider{
	position: absolute;
    bottom: 0;
}
.international .inter-active-slider .item img{
	height: 400px;
}
.inter-active-slider{
	 border-radius: 4px;
	 box-shadow: 0px 5px 20px 0px rgba(0, 62, 123, 0.4);
	 
}
.inter-controller-slider img{
	cursor: pointer;
	margin-right: 40px;
}
.international .date-count{
	color: #003e7b;
}
.inter-text-slider .head{

  font-size: 22px;
  font-family: AvenirNextCyr;
  color: rgb(44, 40, 40);
}
.inter-text-slider .text{
  font-size: 17px;
  font-family: AvenirNextCyr;
  color: rgb(165, 165, 165);
}
.inter-text-slider .item>div{
	margin-bottom: 10px;
}
/*end of international*/


/*repair*/
.ulinks-home .a-content{
	padding: 7% 0 15%;
}


.services__item:hover{
	background-color: #003e7b;
	color:#fff;
	cursor: pointer;
}
.services__item:hover .item__info h3{
	color:#fff;
}
.news-home .social:hover .s-info span:nth-child(3):before{
	background-color:#fff;
}
header .soc__2>div{
	cursor: pointer;
}

/*end repair*/